/* Common  */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
/* body {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
} */
section {
  padding:50px 0;
}

.pb-60 {
  padding-bottom:60px;
}

.mt-100 {
  margin-top:100px;
}

#button {
  display: inline-block;
  background-color: #607D8B;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button:hover {
  cursor: pointer;
  background-color: #607D8B;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}


/* navigation bar */

header {
  margin-bottom: 56px;
}

.navbar{
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-shadow: 0 4px 20px 0 rgba(3, 33, 40, 0.04);;
  box-shadow: 0 4px 20px 0 rgba(3, 33, 40, 0.04);;
  
}
.navbar.navbar-shadow {
  background:#fff;
}

/* To Banner */

.banner .card-body {
  padding-top:60px; 
  padding-bottom:0px;
}

.banner .card-body .card-text {
  padding-bottom: 40px;
}

.banner .card-body .card-text .firstLine {
  font-size: 1.5rem;
}

.banner .card-body .card-text .nextLine {
  font-size:20px;
}

/* To Panel List */

.panel-list .card-body .card-title {
  font-size:1.5rem;
}

/* FAQ */

.faq-section {
  background: #f8f9fa;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #6c757d;
  bottom: -25px;
  margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #ffffff;
  /* box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06); */
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #cee1f8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: rgba(94, 83, 88, 0.1);
  padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3b566e;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #6c757d;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #f3f8ff;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}


/* Footer */

footer {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-shadow: 0 4px 20px 0 rgba(3, 33, 40, 0.04);;
  box-shadow: 0 4px 20px 0 rgba(3, 33, 40, 0.04);;
}