a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #000000;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 70vh;
    transition: all 0.3s;
}

.menu-border{
    border-bottom: 1px solid #c1c1c1;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


/* web panel style begin here */

.card-header{
    display: flex;
    padding: 0px;
}
.card-header .tab-bar{
    cursor: pointer;
    flex-basis: 50%;
    padding: 20px 15px;
    font-weight: 600;
    text-align: center;
    position: relative;
    font-size: 18px;
}

.card-header .tab-bar:first-child{
    border-right: 1px solid #d3d3d3;
}
.news-list-panel{
    padding-top: 20px;
    min-height: 550px;
}
.news-tab-active
{
    border-bottom:3px solid #77B243;
    color: #000;
}


.order-dashboard
{
    position: relative;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    margin-bottom: 10px;
}
.btn-overlay-test{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 19px;
    border-radius: 20px;
}
.order-dashboard:hover  .btn-overlay-test{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media  (max-width: 420px)
{
    .order-dashboard .card-body{
        display: flex;
        flex-direction: row !important;
    }
}
@media screen and (max-width: 640px)
{
    .order-dashboard .content-box {
        text-align: left !important;
    }
    .news_layout-mobile{
        margin-top: 10px !important;
    }
}

.table thead tr th {
    line-height: 10px !important;
}
pre {
    white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#deposite-section .card-header .tabs-wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#deposite-section .card-header .tabs-wrapper .nav-item .nav-link {
    padding: 20px;
}

.inner-page-common .nav-tabs .nav-item .nav-link {
    font-size: 15px;
    color: #1f2324;
    opacity: 1;
    font-weight: 600;
    padding: 18px 15px;
    white-space: nowrap;
    min-width: 100px;
    text-transform: capitalize;
}
#deposite-section .card-header .tabs-wrapper .nav-item .nav-link img {
    width: 78%;
    object-fit: contain;
}
img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}
