<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="col-sm-12">Verify Your Email Address</h3>
                </div>

                <div class="card-body">
                    {% if site['validation_error'] > 0 %}
                        {% for error in site['errors'] %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error!</strong> {{error}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if site['email_status'] %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ site['email_status'] }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}

                    Before proceeding, please check your email for a verification link.
                    If you did not receive the email
                    <form method="POST" action="{{ site['url'] }}">
                        {{ site['csrf_field'] | raw }}
                        <button type="submit" class="btn btn-link p-0 m-0 align-baseline">Click here to request another</button>.
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
