{% if site['faqs'] %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-4">Frequently asked questions</h1>
                </div>
                
                <div id="accordion">
                    {% for faq in site['faqs'] %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div class="nav-link" data-toggle="collapse" data-target="#collapse{{ loop.index }}">
                                    {{ faq.question }}
                                </div>
                            </h5>
                        </div>

                        <div id="collapse{{ loop.index }}" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                {{ faq.answer | raw }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}